{% set mainTitle = 'Edition' %}
{% extends "template.twig" %}
{% block content %}
<div class="portfolio-modal" >
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <form class="form-comment form-horizontal" action="/?action=editPost&id={{ post.getId }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="postTitle">Title</label>  
                                <div class="col-md-8">
                                    <input id="postTitle" name="postTitle" type="text" placeholder="Titre de l'article" class="form-control input-md" value="{{ post.getTitle }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="postChapo">Chapo</label>
                                <div class="col-md-8">                     
                                    <input id="postChapo" name="postChapo" type="text" placeholder="Chapo" class="form-control input-md" value="{{ post.getChapo }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="postImage">Image</label>
                                <div class="col-md-8">
                                    <input id="postImage" name="postImage" class="input-file" type="file">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="postContent">Description</label>
                                <div class="col-md-8">                     
                                    <textarea class="form-control" id="postContent" name="postContent" name="postContent" required>{{ post.getContent }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">                     
                                    <input type="hidden" name="validate" value="1"></input>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sauvegarder</button></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}